.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 0px;
  padding: 0px;
}
.back {
  color: rgb(12, 5, 5);
  font-size: 20px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}
.sub {
  width: 400px;
  border: 2px solid rgb(240, 234, 234);
  background-color: rgba(241, 237, 237, 0.663);
  border-radius: 15px;
  margin: 0px;
  padding: 12px;
}

h2 {
  font-size: 30px;
  text-align: center;
}
.rating {
  font-size: 26px;
  /* padding-left: 30px; */
  padding: 20px;
}
.description {
  font-size: 16px;
  padding: 5px;
  text-align: justify;
}
.image {
  width: 100%;
  height: 300px;
  object-fit: contain; /* ensures image fills the box nicely */
}
