.searchBox {
  width: 250px;
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid white;
}
.searchBtn {
  width: 100px;
  font-size: 22px;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid green;
  background-color: green;
  color: white;
  cursor: pointer;
}
.bar {
  display: flex;
  gap: 10px;
}
